.learn-mo-line {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.learn-mo-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 3px;
  background: red;
  transition: width 0.8s ease-in-out;
}

.learn-mo-line.active::after {
  width: 100%;
}
.leadership-card {
  transition: all 0.5s ease;
}

.leadership-card.active {
  background: rgba(220, 38, 38, 0.2); /* red tint */
  transform: scale(1.1);
}

.leadership-card.active:hover {
  background: rgba(220, 38, 38, 0.35);
}